/* Next 7 Days Column (Red) */
.o_list_view .next_7_days_column {
    background-color: rgba(255, 0, 0, 0.7) !important;
    color: white !important;
    font-weight: bold;
}

/* After 7 Days Column (Yellow) */
.o_list_view .after_7_days_column {
    background-color: rgba(255, 255, 0, 0.7) !important;
    color: black !important;
    font-weight: bold;
}

/* Overdue Jobs Column (Green) */
.o_list_view .overdue_jobs_column {
    background-color: rgba(0, 128, 0, 0.7) !important;
    color: white !important;
    font-weight: bold;
}
/* Style for Chart Container */
.custom_chart_container {
    width: 100%;
    margin-bottom: 20px; /* Space between chart and table */
    display: flex;
    justify-content: center;
}